@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply m-0 p-0 box-border select-none;
  }
}
@layer components {
  .flex-center {
    @apply flex justify-center items-center;
  }
  .container {
    @apply max-w-[1000px] md:px-10 sm:px-6 px-3 mx-auto;
  }
  .identify {
    /* @apply 2xl:bg-purple-500 xl:bg-indigo-500 lg:bg-yellow-500 md:bg-teal-500 sm:bg-pink-500 xs:bg-red-500 xxs:bg-green-500 bg-blue-500; */
  }
}

@layer utilities {
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  ::-webkit-scrollbar-thumb {
    @apply bg-[#94a3b8] rounded-full;
  }
  ::-webkit-scrollbar-track:hover {
    @apply bg-white;
  }
  .gradient {
    background: linear-gradient(-45deg, #36454f 0%, #000000 100%);
  }
}
